{% extends "base.html" %}
<!-- inherit from base.html file -->
{% load static %} {% load bootstrap4 %}

<!-- overwrite title from base.html -->
{% block title %}Djorg - Wikis{% endblock %}

<!-- inside base.html block -->
{% block content %}
<div class="pagewidth">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <h2>Wikis</h2>
    {% if wikis %}
    <ol>
        {% for wiki in wikis %}
        <li>
            {{ wiki.title }}
        </li>
        {% endfor %}
    </ol>
    {% else %}
    <p>No Wiki available - you should add some!</p>
    {% endif %}
</div>
<!-- add the form -->
{% include "wikis/form.html" %} 

{% endblock %}